:root{
    --dark: #0B090A;
    --text: #ffffff;
    --bg:#161A1D;
    --red1: #660708;
    --red2: #A4161A;
    --red3: #BA181B;
    --red4: #E5383B;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}